Flask==0.12.2
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-Script==2.0.5
Flask-Security==1.7.5
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
gspread==0.6.2
gunicorn==19.7.1
Jinja2==2.8
oauth2client==4.1.2
openpyxl==2.4.7
psycopg2==2.7.1
python-dateutil==2.4.2
pytz==2013.7
requests==2.16.0
simplejson==3.10.0
SQLAlchemy==1.1.10
urllib3==1.21.1
google-api-python-client==1.6.4
